#corrections-manager-app {
  --color-brand: #089c98;
  --color-brand-hover: #078783;
  --color-brand-light: #d9f3f1;

  --color-background: #f3f6f8;
  --color-surface: #ffffff;
  --color-heading: #071936;
  --color-text: #40516c;
  --color-muted: #75849d;
  --color-border: #dbe2e8;

  width: 100%;
  color: var(--color-text);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

#corrections-manager-app,
#corrections-manager-app *,
#corrections-manager-app *::before,
#corrections-manager-app *::after {
  box-sizing: border-box;
}

#corrections-manager-app * {
  font-family: inherit;
}

#corrections-manager-app button,
#corrections-manager-app input,
#corrections-manager-app textarea,
#corrections-manager-app select {
  font-family: inherit;
}

#corrections-manager-app button {
  cursor: pointer;
}

#corrections-manager-app img,
#corrections-manager-app svg {
  display: block;
  max-width: 100%;
}

#corrections-manager-app button:focus {
  outline: none;
  box-shadow: none;
}

#corrections-manager-app button:focus-visible {
  outline: 2px solid var(--color-brand);
  outline-offset: 3px;
  box-shadow: none;
}
